.rating{
    width: 100%;
    height: 100vh;
    // background-color:red;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    align-items:center;
}
.rating-heading{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    }
        
.rating-avatar  img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
.rating-avatar p{
    padding:0 1em;    
}    

.rating-card__container{
    width: 100%;
    // background:blue;
    display: flex;
    flex-direction:column;
    justify-content: center;
    border-radius: 8px;
    padding: 2em 0;
}
.rating-card__{
    width:100% !important;
    height:350px;
    // display:flex;
    // flex-direction: column;
    // justify-content:center;
    // align-items:center;
    padding:1em;
    // background-color:pink;
    border-radius:10px;
    outline: none;
}
    
.rating-card{
        width: 100%;
        height: 100%;
        background-color:#f1ecdf;
        padding:1em;
        border-radius:10px;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        
}

 .rating-avatar{
     width: 100%;
     display:flex;
     flex-direction:row;
     align-items:center;     
    } 

.rating-time{
    display: flex;
    justify-content: flex-end;
    }