.course-banner__wrapper{
    width: 100%;
    height: auto;
    background-color: white;
    box-shadow: #e6e6e6 0px 16px 32px 0px;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    margin-top: 1em;
    border-radius: 8px;
    padding:1em;
    box-sizing: border-box;
    
    }

.course-banner__wrapper-sub{
        display:flex;
        flex-direction: column;
        justify-content:flex-start;
        gap:4em;
    }

.course-banner{
        width:100%;
        height:auto;
        // padding:1em 0;
        border-radius:8px;
        // background-color:blue;
        display:flex;
        flex-direction:column;
        // align-items:center;
        justify-content:flex-start;

}
.video-model__container{
        width: 100%;
        height: 250px;   
             
        }
.video-model{
        width: 100%;
        height:100%;
        border-radius:10px;
    }


.popi{
        position:absolute;
        bottom:0;
        right:20px;
        background:none;
        border: none;
        cursor:pointer;
        padding:1em;
    } 

.course-icon__text{
        width: 100%;
        height:100%;
        position: relative;
        img{
            width: 100%;
            height:100%;
            border-radius: 10px;
            }
}



.course-banner__content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
            // background-color:red;    
     
    
}
.course-banner__languages p{
        width: fit-content;
        transition: all 300ms ease 0s;
        background-color: rgb(240, 244, 247);
        color: rgb(60, 72, 82);
        font-size: 10px;
        font-weight: bold;
        padding: 6px;
        border-radius: 4px;
        display: inline-block;
        text-transform: uppercase;
        line-height: 1;
     }
.course-banner__languages{
        width: 100%;
    
    }
.course-title{
        width: 100%;
        padding:1em 0 0 0;
    }
.course-excerpt{
        width: 100%;
        padding:.5em 0;
        color: #3c4852;   
    }
.course-feature{
        display: none;
    
    }


.course-banner__button{
        width:100%;
        display:flex;
        padding: 1em 0;
}

.course-banner__details{
        width:100%;
        height:100px;
        // background-color:red;
        display: flex;
        // justify-content: center;
        align-items: center;
}
.session-start, .course-lesson {
        width:100%;
        display: flex;
        align-items: center; 
        gap:1em;
    }

// .PrimaryBtn:active {
//     -webkit-transform: scale(0.80);
//     -moz-transform: scale(0.80);
//     -ms-transform: scale(0.80);
//     -o-transform: scale(0.80);
//     transform: scale(0.80);
// }
.PrimaryBtn:hover{
        transition:all 0.2s ease-in;
        opacity: 0.5;
        // transform: scale(1.1) translateZ(0px);
        transform: translate(0px, -2px);
}
.course-icon{
        display: flex;
        height: 48px;
        width: 58px;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        border-radius: 8px;
        background-color: rgb(240, 244, 247);
    }

















 @media (min-width:48em){
  
.course-banner__wrapper-sub{
        display:grid;
        // grid-template-columns: 1fr 2fr;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(20px, auto);
        gap: 1em; 
        padding:2em 0em;
        }

        
.course-feature{
    width: 100%;
    height:auto;
    // background-color:blue;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    flex-wrap: wrap;
    // padding:1em 0em 1em 4em;
    gap: 1em;
    padding-top:2em;
    // padding-left: 1em;
    
    }
    .course-feature__icon{
    width:auto;
    // height:40px;
    padding: .5em 1em;
    // margin:.5em .5em 0 0 ;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap: .8em;
    background: rgb(255, 255, 255);
    border-radius:6px;
    // box-shadow: rgb(221 230 237 / 40%) 0px 16px 32px 0px;
    box-shadow: rgb(230, 230, 230) 0px 16px 32px 0px; 

        img{
            width:40px;
            height:30px;

        }
    }
    
     }   














@media (min-width:60em){

    .course-banner__wrapper{
    width: 90%;
    height:auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(230, 230, 230) 0px 16px 32px 0px; 
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    // margin-top:1em; 
    // padding:2em 4em;
    border-radius:8px;
    padding:1em 1em;
    
    }
.course-banner__wrapper-sub{
        //  display: flex;
        //  flex-direction: row;
        //  justify-content:center;
         padding:1em 0;
        display:grid;
        grid-template-columns: 40% 60%;
        // grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(20px, auto);
        // grid-auto-columns: minmax(200px, auto);
        gap: 1em; 
        // padding:0em 4em;


        }

    .course-banner{
    // width:80%;
    height:auto;
    border-radius:8px;
    // background-color:blue;
    display:flex;
    flex-direction:row;
    // align-items:center;
    justify-content:flex-start;
    padding:2em 0em;
}

    .course-banner__content{
    // position: absolute;
    // top: 50%; left: 50%;
    // transform: translate(-50%,-50%);
    // width: 100%;
    height:auto;
    // background-color:#56555566;
    display:flex;
    flex-direction: column;
    // justify-content:center;
    // align-items:center;
    padding: 2em 1em;
    
}


}