.products-container {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2em 0;
}

.products-button__container {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0em 0em;
}

.products-button {
  outline: none;
  border-radius: 4px;
  padding: .8em 1em;
  margin: .5rem .5rem .5rem 0rem;
  border-radius: 4px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  gap: 1em;
  font-weight: bold;
  font-size: 14px;
}

.products-button.active {
  background: #e95454;
}

.products-button:hover {
  background: #e95454;
  border-radius: 4px;
}

.products__wrapper {
  width: 100%;
  height: 100%;
  padding: 1em 0em;
  gap: 1em;
}

.products {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minMax(150px, auto);
  gap: 1em;
}

.course {
  background-color: blue;
  width: 100%;
  height: 180px;
  border-radius: 5px;
  background: #FFFFFF;
  padding: 1em;
  -webkit-box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
          box-shadow: 0px 16px 32px 0px rgba(233, 238, 242, 0.4);
}

.course:hover {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(233, 238, 242, 0.4);
          box-shadow: 0px 4px 8px 0px rgba(233, 238, 242, 0.4);
}

.poster {
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.poster img {
  width: 100%;
  height: 200px;
}

.course__detail {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5em;
  border-radius: 5px;
}

@media (min-width: 48em) {
  .products-container {
    height: 100vh;
    margin-top: 4em;
  }
  .products-container {
    width: 90%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 2em 0;
  }
  .products-button__container {
    width: 20%;
    height: 100%;
    overflow-y: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0em 1em;
  }
  .products__wrapper {
    padding: 0em 0em;
  }
  .products {
    width: 100%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minMax(150px, auto);
    gap: 1em;
  }
}
/*# sourceMappingURL=Products.css.map */