.admisson-process__wrapper{
    width: 90%;
    height: auto;
    // padding-top:50px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    align-content:center;
    // background-color:blue;
 
}
.admisson-process__heading{
    width: 100%;
    padding:2em 0;
    }
    
.admission{
        width: 100%;
        display:flex;
        flex-direction:row;
        }
.admisson__process{
    width:100%;
    height:auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-auto-rows: minmax(20px, auto);   
    // display:flex;
    // flex-direction:row;
    // justify-content:center;
    align-content:center;
    gap:1em;
    // background-color:blue;
    margin: 1em 0;

}
.admission__process--one{
    width: 100%;
    height:auto;
    background-color:rgba(196, 196, 196, 0.4);
    // margin:0em .5em 0 0 ;
    padding:2em 1em;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    gap:1em;
    border-radius:8px;
}

    
@media (min-width:48em){
 .admisson-process__wrapper{
    width: 90%;
 
}
//     .admisson__process{
//     width:90%;
//     display:flex;
//     flex-direction:row;
//     justify-content:space-around;
//     align-content:center;

// }
// .admission__process--one, .admission__process--two, .admission__process--three{
//     width:380px;
//     height:auto;
//     border-radius: 5px;
//     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

       
//     // background-color:red;

// }


}

@media (min-width:60em){
    .admisson__process{
        // grid-template-columns: repeat(4, 1fr);
        
        }
    }