.footer-wrapper{
    width: 100%;
    height: auto;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.footer-list__item__wrapper{
     width: 90%;
     /* height: 500px; */
     display: flex;
     flex-direction: row;
      flex-wrap: wrap;
      align-items:center;
    // justify-content:space-around;
   
}

.footer-list__item{
    width:50%;
    height:200px;
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    // background-color:red;
    padding:1em;
    
}
.footer-list__item--head{
    font-size:16px;
    padding-bottom: .6em;
    font-weight: 900;

}
.footer-list__item_links{
    display:flex;
    align-items:center;
}

.download_btn{
    width:120px;
    height:40px;
}

.border{
    padding-bottom: 5px;
    border-width: 0px 0px 1px;
    border-style: dashed;
    border-color: black;
}

a:hover{
    //  color:#E76D13;
    //  transition: color 200ms ease-in-out 0s;
    // text-decoration: underline;
}
@media (min-width:48em){
        
.footer-wrapper{
    width: 100%;
    height: 60vh;
    display:flex;
    flex-direction: row;
    justify-content: center;
    // background-color: var(--primaryBtn);
    align-items:center;
}
.footer-list__item__wrapper{
    width: 100%;
    /* height: 500px; */
    display: flex;
    flex-direction: row;
    justify-content:center;
    // background-color:red;
    justify-content:center;
   
}
.footer-list__item{
    width: 18%;
    height:auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    // background-color:blue;
    margin:.2em;
}
    .download_btn{
    width:160px;
    height:50px;
}
}